.index {
    font-family: "Georgia";
    margin: 0;
    padding: 0;
    background-color: floralwhite;
    background-image: url("newsssp.png");
    background-size: contain;
    height: 200%; 
    background-repeat: no-repeat;
}



@media only screen and (min-width: 320px){
.index{
    font-family: "Georgia";
    margin: 0;
    padding: 0;
    background-color: floralwhite;
    background-repeat: no-repeat;
    }
}

.pages{
    font-family: "Georgia";
    margin: 0;
    padding: 0;
    background-color: floralwhite;

}

.myDiv {
  text-align: center;
  height: 50vh;
  margin-top: 200px;
}


#mainHeader {
    text-align: center;
    padding: 10px;
}


.header {
    font-size: 30px;
    color: black;
    float: center;
    word-spacing: 40px;
}

.headerTwo {
    margin: 0px;
    font-size: 150px; 
    font-family: "Snell Roundhand";
    color: midnightblue;
    letter-spacing: 10px;
    font-weight: bold;
}




.pageHead{
    font-size: 150px;
    text-align: left;
    font-family: "Snell Roundhand";
    margin-left: 30px;
    margin-top: 50px ;
    margin-bottom: auto;
    color: midnightblue;
    overflow: visible;

}


.pageHeadTwo{
    font-size: 150px;
    text-align: left;
    font-family: "Snell Roundhand";
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 50px ;
    margin-bottom: auto;
    color: midnightblue;
    overflow: visible;

}

.tabs {
  font-family: "Georgia";
  font-size: 20px;
  word-spacing: 15px;
  color: black;
  margin-left: 30px;
  margin-top: 30px;
  display: flex;
  justify-content: start;
  border: 100%;
}

.tabs a {
  text-decoration: none;
  color: black;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.tabs a:hover {
  background-color: lightgrey; 
}

.tabs a.active {
  background-color: darkblue;
  color: white;
}

@media only screen and (max-width: 600px) {
  .tabs {
    flex-direction: column; /* Stack tabs vertically on small screens */
  }

  .tabs a {
    margin-top: 5px;
  }
}

a{
    text-decoration: none;
    color: midnightblue;
}


.imgplace{
    height: 50%;
    width: auto;
}

#img{
    height: 100%;
    width: 100%;

}


.recommendation-box {
    margin-top: 10px;
    text-align: center;
    color: midnightblue;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
  white-space: nowrap; 
  margin-top: 175px;
  overflow: hidden; /* helps hide the extra text outside the window "overflow" */
}

.scrolling-text {
  display: inline-block;
  transform: translateX(0); /* set initial position to prevent animation on page load */
  opacity: 1;
  color: darkred;
  font-size: 25px;
}

.scrolling-text.scrolling-active {
  transform: translateX(-20%);
  opacity: 1;
}

@keyframes scrollText {
  to {
    transform: translateX(-20%);
  }
}

.container[data-speed] .scrolling-text {
  animation: scrollText var(--duration) linear infinite;
  --duration: calc(100s / var(--speed, 10)); /* calculate duration based on speed */
}

.left-to-right[data-speed] .scrolling-text {
  animation-direction: reverse; /* reverse animation direction */
}

.smallLogo{
    text-align: right;
    margin-right: 30px;
    margin-top: -45px;
}


.med{
    padding-left: 350px;
    padding-bottom: 10px;
    height: 400px;
    width:700px;
}

.fade{
    float: right;
    margin-right: 30px;
    height: 400px;
    width: 575px;
    object-fit: cover;
    margin-top: -380px;

}

.fade-in-image { 
    animation: fadeIn 5s;
     }

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}



h1 {
  color: white;
  font-size: 40px;
  text-align: center;
}


section {
  height: auto;
}

.tag {
  opacity: 0;
  transform: translate(0, 100px);
  transition: all 1s;
}

.tag.visible {
  opacity: 1;
  transform: translate(0, 0);
}

.red {
  background-color: darkred;
}

.black{
    background-color: black;
}


.headlines{
    text-align: center;
    padding: 30px

}

.contain{
    height: auto;
    width: auto;
    overflow:hidden;

}

.vids{
    padding: 45px;
}



.containered .box {
    width: auto;
    margin: 50px;
    display: table;
    border: 2px solid black;
        }
 
.containered .box .box-row {
    display: table-row;
        }
 
.containered .box .box-cell {
    display: table-cell;
    width: 20%;
    padding: 10px;
    vertical-align: top;
}

 
.containered .box .box-cell.box1 {
     text-align: center;
    padding-left: 20px;
    line-height: 30px;
}

.containered .box .box-cell.box1 img {
    max-width: 100%; 
    height: auto;
    display: block; 
    margin: 0 auto; 
}


.containered .box .box-cell.box2 img {
    max-width: 100%; 
    height: auto;
    display: block; 
    margin: 0 auto; 
}

.containered .box .box-cell.box2 {
    text-align: center;
    padding-left: 20px;
    line-height: 30px;
}

.pageHeadTwo:after{
    content:' ';
    display:block;
    border:2px solid black;

}




